<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form id="activationform">

        <div class="max-w-md mx-auto shadow-lg p-3 flex flex-col mt-10">
            <h1 class="text-md font-medium text-xl text-center">Activation</h1>
            
            <input class="w-full p-3 border-b-2 border-grey focus:outline-0 mt-5" type="text" name="email"
            placeholder="Email" hidden value="<%=email%>" id="">
            <input class="w-full p-3 border-b-2 border-grey focus:outline-0 mt-5" type="text" name="verificationcode"
            placeholder="Enter Verification Code" id="">
            
            <button type="button" onclick="verifyuser()"
            class="text-white w-[250px] self-center mt-12 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-5 py-2.5 me-2 mb-2 ">Next</button>
            <span id="error" class="text-red-500"></span>
        </div>
    </form>
</body>
<script>

async function verifyuser() {
    let obj={}
     
        let activationform = document.getElementById("activationform");
        let activationformdata = new FormData(activationform);

        for (let key of activationformdata) {
            let name = key[0];
            let value = key[1];
            obj = { ...obj, [name]: value };
        }
     let response=await fetch("/verifyuser", {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        method: "POST",
        body:JSON.stringify(obj)
    });
    let data=await response.json();
    if(data.success){
        window.location.href=`/create-password?email=${data.email}`
    }
    }
</script>
</html>