<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webpage3/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
  <header>
    <div class="navbar">
        <nav>
           <p>Hirex.</p>
           <ul class="navlist">
            <li class="navlistitem">Works</li>
            <li class="navlistitem">About Us</li>
            <li class="navlistitem">Blogs</li>
            <li class="navlistitem">FAQs</li>
            <li class="navlistitem">Contact us</li>
            <li class="navlistitem navlistitembtn"><div class="hirebutton">
                <p>We're Hiring</p>
                <i class="fa-solid fa-arrow-right" color="white"></i>
            </div></li>
           </ul>
        </nav>
        <div class="hero">
            <div class="hero-left">
                <div class="herotop">
                   <p class="herotoptitle">WELCOME TO HIREX.</p>
                   <img src="/webpage3/assets/Star 1.png" alt="">
                </div>
                <p class="herotitle">
                    Award Winning Digital Agency
                </p>
                <p class="herodesc">
                    Digital Agency offering unique solution to create digital presence and increase your sales
                </p>
                <div class="request-access">
                    <input type="text">
                    <button>Request Access</button>
                </div>
                <div class="herogetbox">Open account and get 5 boxes</div>
            </div>
            <div class="hero-right">
                <div class="circle">
                    <img src="/webpage3/assets/image 2 (Traced).png" class="imgcircle" alt="">
                      <p class="circletxt">Web Design</p>
                </div>
                <div class="quatercircle">
                    <img src="/webpage3/assets/image 6 (Traced).png" class="quatercircleimg" alt="">
                    <p class="quatertxt">Social Media</p>
                </div>
                <div class="square">
                    <img src="/webpage3/assets/image 1 (Traced).png" class="squareimg" alt="">
                    <p class="squaretxt">UI/UX design</p>
                </div>
                <img src="/webpage3/assets/Group 6.png" class="newimg" alt="">
            </div>
        </div>
    </div>
  </header>
  <section class="getaccessslider">
       <div class="getaccessslidercontainer">
        <div class="card">
            <p>GET ACCESS NOW!</p>
            <img src="/webpage3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
            <img class="rotate-image" src="/webpage3/assets/Line 4.png" alt="">
        </div>
        <div class="card">
            <p>GET ACCESS NOW!</p>
            <img src="/webpage3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
            <img src="/webpage3/assets/Line 4.png" class="rotate-image" alt="">
        </div>
        <div class="card">
            <p>GET ACCESS NOW!</p>
            <img src="/webpage3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
            <img src="/webpage3/assets/Line 4.png"  class="rotate-image" alt="">
        </div>
        <div class="card">
            <p>GET ACCESS NOW!</p>
            <img src="/webpage3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
            <img src="/webpage3/assets/Line 4.png" class="rotate-image"  alt="">
        </div>
       </div>
  </section>
    <section class="services">
        <div class="servicescontainer">
           <div class="services-top">
            <button>Services</button>
             <p class="servicestoptitle">
                HOW HIREX. WORK
             </p>
             <p class="servicestopdesc">
             The awesome people who make all this possible
             </p>
           </div>
           <div class="servicescards">
            <div class="servicecard">
                <div class="servicecardinner">
                    <p>Start Here</p>
                    <p class="servicecardinnertitle">Who we are & what we do</p>
                    <img src="/webpage3/assets/Designer _Flatline 1.png" alt="">
                    <button class="btn1"> <span>Start Here</span>
                        <img src="/webpage3/assets/arrow-right-black.png" alt="">
                    </button>
                </div>
            </div>
            <div class="servicecard">
                <div class="servicecardinner">
                    <p>Custom Design</p>
                    <p class="servicecardinnertitle">We'll Design Your products</p>
                    <img src="/webpage3/assets/Notifications_Flatline 1.png" alt="">

                    <button class="btn2"> <span>Start Here</span>
                        <img src="/webpage3/assets/arrow-right-black.png" alt="">
                    </button>
                </div>
            </div>
            <div class="servicecard">
                <div class="servicecardinner">
                    <p>Contact Us</p>
                    <p class="servicecardinnertitle">Drop us your message</p>
                    <img src="/webpage3/assets/Designer _Flatline 1.png" alt="">

                    <button class="btn3"> <span>Start Here</span>
                        <img src="/webpage3/assets/arrow-right-black.png" alt="">
                    </button>
                </div>
            </div>
           
           </div>
        </div>
    </section>
    <section class="latestworks">
        <div class="latestworkcontainer">
            <div class="services-top">
                <button>Works</button>
                 <p class="servicestoptitle">
                    Find our latest works
                 </p>
                 <p class="servicestopdesc">
                 The awesome people who make all this possible
                 </p>
               </div>
              <div class="latestworkscards">
                 <div class="latestworkscard">
                    <div class="latestworkcardinner">
                        <img src="/webpage3/assets/Rectangle 13.png" alt="" class="latestworkcardinnerimg1">
                          <div class="card1desc">
                            <button class="button">Web design</button>
                            <p class="latesttitle">Website Design for digital agency</p>
                            <p>Build new website using Hirex template</p>
                            <a href=""><span>Read More</span>
                            <img src="/webpage3/assets/arrow-right-black.png" alt=""></a>
                          </div>
                    </div>
                 </div>
                 <div class="latestworkscard">
                    <div class="latestworkcardinner">
                        <img src="/webpage3/assets/Rectangle 13-1.png" alt="" class="latestworkcardinnerimg2">
                        <div class="card1desc">
                            <button class="button">Web design</button>
                            <p class="latesttitle">Realistic 3D Model of Living Room</p>
                            <p>Build new website using Hirex template</p>
                            <a href=""><span>Read More</span>
                            <img src="/webpage3/assets/arrow-right-black.png" alt=""></a>
                          </div>
                          <button class="latestworkbutton">
                            <span>View All</span>
                            <img src="/webpage3/assets/arrow-right-black.png" alt="">
                          </button>
                    </div>
                 </div>
              </div>
        </div>
    </section>
    <section class="pricing">
    <div class="pricingcontainer">
        <div class="services-top">
          
             <p class="servicestoptitle">
               Plans and Pricing
             </p>
             <p class="servicestopdesc">
             The awesome people who make all this possible
             </p>
           </div>
           <div class="pricingcards">
            <div class="pricingcardouter">
                <div class="pricingcardinner">
                    <p class="freetitle">Free</p>
                    <p class="pricingtitle"><span>$0</span>/MONTH</p>
                    <p class="carddesc">
                        Start free while you learn about our service
                    </p>
                    <hr>
                    <ul class="pricefeatures">
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Free forever get the basic essential</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Advanced security and performancel</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Unlimited unhosted sites</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Livesupport</span></li>
                    
                    </ul>
                    <button>Get Started</button>
                </div>
            </div>
            <div class="pricingcardouter">
                <div class="pricingcardinner">
                    <p class="freetitle">BASIC</p>
                    <p class="pricingtitle"><span>$19</span>/MONTH</p>
                    <p class="carddesc">
                        Start free while you learn about our service
                    </p>
                    <hr>
                    <ul class="pricefeatures">
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Free forever get the basic essential</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Advanced security and performancel</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Unlimited unhosted sites</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Livesupport</span></li>
                    
                    </ul>
                    <button>Get Started</button>
                </div>
            </div>
            <div class="pricingcardouter">
                <div class="pricingcardinner">
                    <p class="freetitle">PRO</p>
                    <p class="pricingtitle"><span>$99</span>/MONTH</p>
                    <p class="carddesc">
                        Start free while you learn about our service
                    </p>
                    <hr>
                    <ul class="pricefeatures">
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Free forever get the basic essential</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Advanced security and performancel</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Unlimited unhosted sites</span></li>
                    
                        <li class="pricefeature"><i class="fa-solid fa-check"></i><span>Livesupport</span></li>
                    
                    </ul>
                    <button>Get Started</button>
                </div>
            </div>
           
          
           </div>
    </div>
    </section>
    <section class="testimonials">
        <div class="testimonialscontainer">
            
                <img src="/webpage3/assets/arrow-left-2.png" alt="">

            <div class="middlepart">
                 <div class="midlepartleft">
                    <div class="middleleftinner">
                      <div class="testimonialsimgcontainer">
                          <img src="/webpage3/assets/testimonials-img.png"  alt="">
                          <p>@mace.place</p>
                        </div>

                    </div>

                 </div>
                 <div class="midlepartright">
                     <p class="middleparttitlw">
                         We select to practice Minerva since it both useful,and our client basically adore it has stood the test of time and process
                     </p>
                     <p class="middlepartesc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde veniam saepe maxime neque tenetur distinctio, voluptates sapiente alias, architecto, maiores delectus consectetur esse exercitationem quas!
                     </p>
                 

                 </div>
            </div>
            <img src="/webpage3/assets/arrow-right-2.png" alt="">
        </div>
    </section>
    <section class="update">
        <section class="updatecontainer">
            <button class="button1r">Blog</button>
            <p class="blogtitle">
                Stay updated
            </p>
            <div class="latestworkscards">
                <div class="latestworkscard">
                   <div class="latestworkcardinner">
                       <img src="/webpage3/assets/Rectangle 19.png" alt="" class="latestworkcardinnerimg1">
                         <div class="card1desc">
                           <button class="button">Web design</button>
                           <p class="latesttitle">We Launch Minerva Template this Week!</p>
                           <p>Build new website using Hirex template</p>
                           <a href=""><span>Read More</span>
                           <img src="/webpage3/assets/arrow-right-black.png" alt=""></a>
                         </div>
                   </div>
                </div>
                <div class="latestworkscard">
                   <div class="latestworkcardinner">
                       <img src="/webpage3/assets/Rectangle 20.png" alt="" class="latestworkcardinnerimg2">
                       <div class="card1desc">
                           <button class="button">Web design</button>
                           <p class="latesttitle">Introducing the Non-code Webflow guide</p>
                           <p>Build new website using Hirex template</p>
                           <a href=""><span>Read More</span>
                           <img src="/webpage3/assets/arrow-right-black.png" alt=""></a>
                         </div>
                         
                   </div>
                </div>
             </div>
        </section>
    </section>
    <section class="getnews">
        <div class="getnewscontainer">
           <p class="getnewstitle">
            Get our latest news & updates
           </p>
           <div class="getnewsrow">
            <div class="getnewsleft">
                <form  class="getnewsforrm">
                   <p class="name">Name</p>
                   <p class="email">Email</p>
                   <p class="subscribe"><span>Subscribe</span><img src="/webpage3/assets/arrow-right-black.png" alt=""></p>
                </form>
            </div>
            <div class="getnewsright">
                <p>We select to practice Minerva since it both useful,and our client basically adore it has stood the test of time and process</p>
                <button>Book Call</button>
            </div>
           </div>
        </div>
    </section>
    <section class="visitslider">
        <div class="visitslidercontainer">
            <img src="/webpage3/assets/Line 4.png" class="rotateimg">
           <p class="thanks">THANK YOU FOR YOUR VISIT</p>
           <img src="/webpage3/assets/Group 59.png"  alt="">
        </div>
        <div class="visitslidercontainer">
            <img src="/webpage3/assets/Line 4.png" alt="">
           <p class="thanks">THANK YOU FOR YOUR VISIT</p>
           <img src="/webpage3/assets/Group 59.png" alt="">
        </div>
        <div class="visitslidercontainer">
            <img src="/webpage3/assets/Line 4.png" alt="">
           <p class="thanks">THANK YOU FOR YOUR VISIT</p>
           <img src="/webpage3/assets/Group 59.png" alt="">
        </div>
    </section>
    <section class="footer">
        <div class="footercontainer">
            <img src="/webpage3/assets/HireX_black.png" alt="" class="logo">
            <hr>
            <div class="footercards">
                <div class="footercard">
                    <p>Products</p>
                    <ul>
                        <li>Platform</li>
                        <li>Store Overview</li>
                        <li>Email Reports</li>
                        <li>Portfolio</li>

                    </ul>
                </div>
                <div class="footercard">
                    <p>Resources</p>
                    <ul>
                        <li>Case Studies</li>
                        <li>Product Guides</li>
                        <li>Reports</li>
                        <li>Blog</li>
                        <li>FAQ</li>

                    </ul>
                </div>
                <div class="footercard">
                    <p>Company</p>
                    <ul>
                        <li>Careers</li>
                        <li>Contact Sales</li>
                        <li>Contact Support</li>
                     
                    </ul>
                </div>
                <div class="footercard">
                    <p>Partners</p>
                    <ul>
                        <li>Partner with us</li>
                        
                     
                    </ul>
                </div>
            </div>
            <div class="copyrightcontainer">
                <div class="left">
                    <p>Terms and condition</p>
                    <span>Privacy policy</span>
                </div>
                <div class="right">
                    <p>@HREX,Inc 2022</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>