<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-3xl p-12 mx-auto rounded-md shadow-md mt-10">
        <h2 class="text-md font-semibold mb-10">Adnan Khan (24DEV055)</h2>
        <h1 class="text-md font-bold">JS TASK</h1>
        <ul class="list-disc list-inside">
            <li class="mt-4"><a href="/dynamic-table" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Dynamic Table</a></li>
            <li class="mt-4"><a href="/kuku-cube" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">KUKU CUBE</a></li>
            <li class="mt-4"><a href="/tic-tac-toe" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">TIC TAC TOE</a></li>
            <li class="mt-4"><a href="/bubble-sort" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Sorting</a></li>
            <li class="mt-4"><a href="/events" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Event Task</a></li>
            <li class="mt-4"><a href="/pagination/users" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Pagination Task</a></li>
            <li class="mt-4"><a href="/filteration/users" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Filteration Task</a></li>
        </ul>
    </div>
</body>
</html>



