<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-[1000px] h-[700px] overflow-y-scroll p-12 mx-auto rounded-md shadow-md mt-10">
        <h2 class="text-md font-semibold mb-10">Adnan Khan (24DEV055)</h2>
        <h1 class="text-md font-bold">ALL TASK</h1>
        <ul class="list-disc list-inside grid grid-cols-2">
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/dynamic-table" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Dynamic Table</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/kuku-cube" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">KUKU CUBE</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/tic-tac-toe" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">TIC TAC TOE</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/bubble-sort" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Sorting</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/events" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Event Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/webpages/ehya" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Web Page 1</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/webpages/awn" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Web Page 2</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/webpages/hirex" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Web Page 3</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/pagination/users" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Pagination Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/filteration/users" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Filteration Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/task7/getStudentAttendence" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Attendence Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/task7/getStudentResult" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Exam Result Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/dynamicgrid/" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Dynamic Grid Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/search/getStudentAttendence" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Seach Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/delimeter/getStudentAttendence" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Seach With Delimiter Task</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/api/posts" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Fetch Api Task With Search</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/crud/" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Crud Operation</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/crud_ajax/" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Crud Operation WITH AJAX CREATE</a></li>
            <li class="mt-4 ml-3 bg-gray-100 shadow-md p-3"><a href="/crud_ajax/mainupdate" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Crud Operation WITH AJAX UPDATE</a></li>
        </ul>
    </div>
    
</body>
</html>



